[user]
	name = Aran Borkum
	email = aran.borkum@kraken.tech
[core]
	editor = nvim
	excludesfile = /Users/aran.borkum/.gitignore_global
[pull]
	rebase = true
[alias]
	lola = log --graph --decorate --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --abbrev-commit --all --date=relative
	lol = log --graph --decorate --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --abbrev-commit --date=relative
	absorb = absorb --and-rebase
	fixup = "!git log `git rev-parse --abbrev-ref HEAD` --pretty=format:'%h %s' --no-merges --not master | fzf | cut -c -7 | xargs -o git commit --fixup"
	count-commit = rev-list --count HEAD --not master
	irebase = "!git rebase -i HEAD~`git count-commit`"
[url "ssh://git@github.com/octoenergy/"]
	insteadof = https://github.com/octoenergy/
[push]
	autoSetupRemote = true
