[user]
	name = Aran Borkum
	email = aran.borkum@kraken.tech
[core]
	editor = nvim
[pull]
	rebase = true
[alias]
	lola = log --graph --decorate --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --abbrev-commit --all --date=relative
	lol = log --graph --decorate --pretty='format:%C(auto)%h %d %s %C(green)%an%C(bold blue) %ad' --abbrev-commit --date=relative
	absorb = absorb --and-rebase
[url "ssh://git@github.com/octoenergy/"]
	insteadof = https://github.com/octoenergy/
[push]
	autoSetupRemote = true
